html { color: red; }
#base{padding: 20px;}


/* Alexis */

.center { text-align: center; }
.ticket { display: flex; justify-content: space-between; flex-direction: row; border-style: solid; margin-bottom: 15px; }
.descr {width: 50%;}
#tickets { display: flex; justify-content: center; flex-direction: column;}
