body {
	text-align: center;
	font-size: 25px;
}

#loginForm {
	display: flex;
	justify-content: center;
}

table, td, th {
	text-align: center;
}

label {
	font-weight: bold;
}

.whatIsThis {
	display: flex;
	width: 100%;
	text-align: center;
	flex-direction: column;
}
